mixin dropdown(title, name, choosetype, id, placeholder, style, hint)
 .dropdown  
  label(class="textfield__label title-h3" for=id data-hint=hint)= title
  input.dropdown__input(class=style type=choosetype placeholder=placeholder name=name id=id)
  i.material-icons(dropdown__icon) expand_more