- var inputField = "input-field";
- var inputBlock = "input-block";

include ../icons/icons.pug
include ../dropdown/dropdown.pug

mixin input-field(opt, dropdownList)
 div(class= [inputBlock, opt.inputBlockClasses])
  //- If there has to be a label then call it by ˝title: ""˝
  if opt.title
    label(class=opt.inputBlockLabelClasses for=opt.id data-hint=opt.hint) #{opt.title}
  //- .inputfield(class!=attributes.class)
  div(class= [inputField, opt.inputFieldClasses])
    if opt.type=="textfield"
      input(class=opt.inputFieldInputClasses type=opt.inputType placeholder=opt.placeholder name=opt.name id=opt.id)
    if opt.type=="dropdown"
      input(class=opt.inputFieldInputClasses type=opt.inputType placeholder=opt.placeholder name=opt.name id=opt.id data-toggle=opt.type)
      +icon({type: "icons--dropdown", icon: "expand_more"})      
      +dropdown(dropdownList)
    if opt.type=="subscribe"
      input(class=opt.inputFieldInputClasses type=opt.inputType placeholder=opt.placeholder name=opt.name id=opt.id)
      +icon({type: ["icons--arrow", "icons--purple"], icon: "arrow_forward"})