//- {
//-   options: {
//-     checkboxTitle: string,
//-     checkboxSubtitle: string,
//-     checkboxId: string,
//-     checkboxValue: string,
//-     checkboxName: string,
//-     checked: boolean
//-   }
//- }

mixin checkbox-item(options)
  if (typeof(options) !== null && typeof(val) !== null)
    li.checkbox-item
      if (val.checkboxSubtitle)
        label(class=['checkbox-item__label'] for= val.checkboxId) 
          input(type='checkbox' class= ['checkbox-item__input'] value= val.checkboxValue id= val.checkboxId name= val.checkboxName checked=val.checked)
          span(class=['checkbox-item__title', 'checkbox-item__title--rich']) #{val.checkboxTitle}
          span(class='checkbox-item__checkmark')
          span(class='checkbox-item__subtitle') #{val.checkboxSubtitle}
      else
        label(class=['checkbox-item__label'] for= val.checkboxId)
          input(type='checkbox' class= ['checkbox-item__input'] value= val.checkboxValue id= val.checkboxId name= val.checkboxName checked=val.checked)
          span(class='checkbox-item__checkmark')
          span(class='checkbox-item__title') #{val.checkboxTitle}
